@import url(http://fonts.googleapis.com/css?family=Nova+Square);
/* line 16, ../sass/screen.scss */
body {
  font: normal 16px/1.6 'Nova Square', cursive;
  color: #555;
  background-image: -moz-radial-gradient(800px 800px, #ffffff, #ebe2da);
  background-image: -o-radial-gradient(800px 800px, #ffffff, #ebe2da);
  background-image: -webkit-radial-gradient(800px 800px, #ffffff, #ebe2da);
  background-image: radial-gradient(800px 800px, #ffffff, #ebe2da);
}

/* line 22, ../sass/screen.scss */
a,
a:link,
a:visited {
  text-decoration: none;
  color: #E56700;
  -moz-transition: color 0.4s;
  -o-transition: color 0.4s;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
/* line 28, ../sass/screen.scss */
a:hover,
a:link:hover,
a:visited:hover {
  color: #ff9d4c;
}

/* line 33, ../sass/screen.scss */
.intro {
  padding: 40px 0 20px;
}

/* line 36, ../sass/screen.scss */
h2, h1 {
  line-height: 1.2;
  margin: 0;
  color: #a1484e;
}

/* line 41, ../sass/screen.scss */
h1 {
  font-size: 3em;
}

/* line 46, ../sass/screen.scss */
.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 10, ../../../lib/gems/1.9.1/gems/susy-2.0.0.beta.1/sass/susy/api/float/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 49, ../sass/screen.scss */
.container .el {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3) inset;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
  border: 6px solid rgba(0, 0, 0, 0.1);
  font-size: 39px;
  line-height: 2;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.4);
  padding: 0;
}
/* line 59, ../sass/screen.scss */
.container .el p {
  margin: 0;
}
/* line 62, ../sass/screen.scss */
.container .el.e1 {
  background-color: #fdead7;
}
/* line 63, ../sass/screen.scss */
.container .el.e2 {
  background-color: #f4d9be;
}
/* line 64, ../sass/screen.scss */
.container .el.e3 {
  background-color: #fbe7d2;
}
/* line 65, ../sass/screen.scss */
.container .el.e4 {
  background-color: #ecc8a4;
}
/* line 66, ../sass/screen.scss */
.container .el.e5 {
  background-color: #f6ddc3;
}
/* line 67, ../sass/screen.scss */
.container .el.e6 {
  background-color: #e7be95;
}
/* line 68, ../sass/screen.scss */
.container .el.e7 {
  background-color: #f1d2b4;
}
/* line 69, ../sass/screen.scss */
.container .el.e8 {
  background-color: #e7be95;
}
/* line 70, ../sass/screen.scss */
.container .el.e9 {
  background-color: #eeccaa;
}
/* line 71, ../sass/screen.scss */
.container .el.e10 {
  background-color: #eac59f;
}

/* line 75, ../sass/screen.scss */
.e1 {
  height: 450px;
}

/* line 76, ../sass/screen.scss */
.e2 {
  height: 450px;
}

/* line 77, ../sass/screen.scss */
.e3 {
  height: 450px;
}

/* line 78, ../sass/screen.scss */
.e6 {
  height: 270px;
}

/* line 80, ../sass/screen.scss */
.layout {
  display: none;
  margin: 10px 0;
  padding: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
}

/* line 88, ../sass/screen.scss */
.resize {
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: 180px;
  z-index: -1;
  color: #999;
  color: rgba(100, 100, 100, 0.4);
  text-shadow: 1px 1px 0 white;
}
/* line 97, ../sass/screen.scss */
.resize .resize-right,
.resize .resize-left {
  width: 80px;
  position: absolute;
  margin: 3px;
  line-height: 1.1;
}
/* line 104, ../sass/screen.scss */
.resize .resize-right {
  right: 0;
  text-align: right;
}
/* line 108, ../sass/screen.scss */
.resize .resize-left .arrw {
  margin-left: -4px;
}
/* line 111, ../sass/screen.scss */
.resize .arrw {
  font-size: 100px;
  line-height: 40px;
  letter-spacing: -4px;
}

/* line 118, ../sass/screen.scss */
.snippets {
  padding: 20px 0;
  max-width: 520px;
}

/* line 122, ../sass/screen.scss */
.snippet {
  display: none;
  text-align: left;
}
/* line 125, ../sass/screen.scss */
.snippet code {
  background: #22170D;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

@media (min-width: 1000px) {
  /* line 3, ../sass/_mqs.scss */
  .layout1 {
    display: block;
  }

  /* line 8, ../sass/_mqs.scss */
  .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
  }

  /* line 9, ../sass/_mqs.scss */
  .e2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    float: left;
  }

  /* line 10, ../sass/_mqs.scss */
  .e3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
  }

  /* line 11, ../sass/_mqs.scss */
  .e4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 12, ../sass/_mqs.scss */
  .e5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 13, ../sass/_mqs.scss */
  .e6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }

  /* line 14, ../sass/_mqs.scss */
  .e7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
  }

  /* line 15, ../sass/_mqs.scss */
  .e8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 16, ../sass/_mqs.scss */
  .e9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 17, ../sass/_mqs.scss */
  .e10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
}
@media (min-width: 880px) and (max-width: 1000px) {
  /* line 22, ../sass/_mqs.scss */
  .layout2 {
    display: block;
  }

  /* line 27, ../sass/_mqs.scss */
  .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
    margin-left: 80%;
    margin-right: -100%;
  }

  /* line 28, ../sass/_mqs.scss */
  .e2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }

  /* line 29, ../sass/_mqs.scss */
  .e3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 20%;
    float: left;
    margin-left: 60%;
    margin-right: -100%;
  }

  /* line 30, ../sass/_mqs.scss */
  .e4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 31, ../sass/_mqs.scss */
  .e5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 32, ../sass/_mqs.scss */
  .e6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }

  /* line 33, ../sass/_mqs.scss */
  .e7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
  }

  /* line 34, ../sass/_mqs.scss */
  .e8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }

  /* line 35, ../sass/_mqs.scss */
  .e9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    margin-left: 50%;
    margin-right: -100%;
  }

  /* line 36, ../sass/_mqs.scss */
  .e10 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }
}
@media (min-width: 760px) and (max-width: 880px) {
  /* line 41, ../sass/_mqs.scss */
  .layout3 {
    display: block;
  }

  /* line 46, ../sass/_mqs.scss */
  .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin-left: 70%;
    margin-right: -100%;
  }

  /* line 47, ../sass/_mqs.scss */
  .e2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }

  /* line 48, ../sass/_mqs.scss */
  .e3 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 49, ../sass/_mqs.scss */
  .e4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    float: left;
    margin-left: 40%;
    margin-right: -100%;
  }

  /* line 50, ../sass/_mqs.scss */
  .e5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 60%;
    float: left;
    margin-left: -20%;
    margin-right: -100%;
  }

  /* line 51, ../sass/_mqs.scss */
  .e6 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }

  /* line 52, ../sass/_mqs.scss */
  .e7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 66.66667%;
    float: left;
  }

  /* line 53, ../sass/_mqs.scss */
  .e8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }

  /* line 54, ../sass/_mqs.scss */
  .e9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }

  /* line 55, ../sass/_mqs.scss */
  .e10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 57, ../sass/_mqs.scss */
  .e1 {
    height: 360px;
  }

  /* line 58, ../sass/_mqs.scss */
  .e2 {
    height: 360px;
  }

  /* line 59, ../sass/_mqs.scss */
  .e3 {
    height: 90px;
  }

  /* line 60, ../sass/_mqs.scss */
  .e6 {
    height: 180px;
  }
}
@media (min-width: 620px) and (max-width: 760px) {
  /* line 64, ../sass/_mqs.scss */
  .layout4 {
    display: block;
  }

  /* line 69, ../sass/_mqs.scss */
  .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 70, ../sass/_mqs.scss */
  .e2 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-right: -100%;
  }

  /* line 71, ../sass/_mqs.scss */
  .e3 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 72, ../sass/_mqs.scss */
  .e4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    margin-left: 71.42857%;
    margin-right: -100%;
  }

  /* line 73, ../sass/_mqs.scss */
  .e5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
    margin-left: 85.71429%;
    margin-right: -100%;
  }

  /* line 74, ../sass/_mqs.scss */
  .e6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 71.42857%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }

  /* line 75, ../sass/_mqs.scss */
  .e7 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 76, ../sass/_mqs.scss */
  .e8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
  }

  /* line 77, ../sass/_mqs.scss */
  .e9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 14.28571%;
    float: left;
  }

  /* line 78, ../sass/_mqs.scss */
  .e10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 71.42857%;
    float: left;
  }

  /* line 80, ../sass/_mqs.scss */
  .e1 {
    height: 90px;
  }

  /* line 81, ../sass/_mqs.scss */
  .e2 {
    height: 360px;
  }

  /* line 82, ../sass/_mqs.scss */
  .e3 {
    height: 90px;
  }

  /* line 83, ../sass/_mqs.scss */
  .e6 {
    height: 90px;
  }
}
@media (min-width: 500px) and (max-width: 620px) {
  /* line 87, ../sass/_mqs.scss */
  .layout5 {
    display: block;
  }

  /* line 92, ../sass/_mqs.scss */
  .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: -25%;
    margin-right: -100%;
  }

  /* line 93, ../sass/_mqs.scss */
  .e2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
  }

  /* line 94, ../sass/_mqs.scss */
  .e3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }

  /* line 95, ../sass/_mqs.scss */
  .e4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 15%;
    float: left;
  }

  /* line 96, ../sass/_mqs.scss */
  .e5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33%;
    float: left;
  }

  /* line 97, ../sass/_mqs.scss */
  .e6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 52%;
    float: left;
  }

  /* line 98, ../sass/_mqs.scss */
  .e7 {
    clear: both;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 99, ../sass/_mqs.scss */
  .e8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }

  /* line 100, ../sass/_mqs.scss */
  .e9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
  }

  /* line 101, ../sass/_mqs.scss */
  .e10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 88%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }

  /* line 103, ../sass/_mqs.scss */
  .container {
    overflow: hidden;
  }
  /* line 106, ../sass/_mqs.scss */
  .container:hover .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
  /* line 107, ../sass/_mqs.scss */
  .container:hover .e2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    margin-left: 25%;
    margin-right: -100%;
  }
  /* line 108, ../sass/_mqs.scss */
  .container:hover .e3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    margin-left: 100%;
    margin-right: -100%;
  }

  /* line 112, ../sass/_mqs.scss */
  .e1 {
    height: 360px;
  }

  /* line 113, ../sass/_mqs.scss */
  .e2 {
    height: 360px;
  }

  /* line 114, ../sass/_mqs.scss */
  .e3 {
    height: 270px;
  }

  /* line 115, ../sass/_mqs.scss */
  .e6 {
    height: 90px;
  }

  /* line 116, ../sass/_mqs.scss */
  .container .element.e2, .container .element.e7 {
    padding-top: 8px;
  }
}
@media (max-width: 500px) {
  /* line 121, ../sass/_mqs.scss */
  .layout6 {
    display: block;
  }

  /* line 126, ../sass/_mqs.scss */
  .e1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 127, ../sass/_mqs.scss */
  .e2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 128, ../sass/_mqs.scss */
  .e3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 129, ../sass/_mqs.scss */
  .e4 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 130, ../sass/_mqs.scss */
  .e5 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }

  /* line 131, ../sass/_mqs.scss */
  .e6 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 132, ../sass/_mqs.scss */
  .e7 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 133, ../sass/_mqs.scss */
  .e8 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 134, ../sass/_mqs.scss */
  .e9 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 135, ../sass/_mqs.scss */
  .e10 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
  }

  /* line 137, ../sass/_mqs.scss */
  .e1 {
    height: 90px;
  }

  /* line 138, ../sass/_mqs.scss */
  .e2 {
    height: auto;
  }

  /* line 139, ../sass/_mqs.scss */
  .e3 {
    height: 90px;
  }

  /* line 140, ../sass/_mqs.scss */
  .e6 {
    height: 90px;
  }
}
